.logo{
	width: 5%;
	height: 5%;
	margin-top:2%;
	margin-left: 2%;
}
.jll{
	background-color: #E3DEDE;
	height: 200px;
}
.gfr{
	border: 2px black;
}
.jh{
	border-radius: 20px;
	width: 40%;
	height: 20%;
	background-color: white;
	border: 1px solid black;
	color: black;
	font-weight: bolder;
}
.jh:hover{
	background-color: #17C2FA;
	font-weight: bolder;
	opacity: .5;
}
.sk{
    height: 300px;
}
.trf{
    background: url("son-2935723_960_720.jpg");
    background-size: cover;
    height: 500px;
}
.color{
	color: white;
}
.ca
{
	width: 18rem;
}

.qw{
	color: white;
	font-size: 16px;
}